{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvhi parolni tiklash {% endblock title %}

{% block content %}
<h1> Parolni tiklash </h1>
<p> Parolni tiklash uchun email kiriting: </p>
{% if validlink %}

<p>Iltimos yangi parolni ikki marta kirirting</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><button type="submit">Paolni almashtirish</button> </p>
</form>
{% else %}
<p>Siz notogri linkdan foydalandingiz, u avvalroq ishlatilgan va vaqt otib ketgan</p>
{% endif %}
{% endblock content %}